::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-track { background: none }
::-webkit-scrollbar-thumb { background: #603 }
::-webkit-scrollbar-thumb:hover { background: #704 }

::placeholder { color: #957; }

@font-face {
    font-family: custom;
    src: url(../fonts/montserrat.ttf);
}

body {
    background: #110311;
    color: white;
    margin: 0;
}

body, #main {
    min-height: 100vh;
}

body, button, input, select {
    font-family: custom;
}

div, textarea {
    box-sizing: border-box;
}

button:not(.hidden):disabled,
input:not(.hidden):disabled,
textarea:not(.hidden):disabled {
    opacity: .3 !important;
    cursor: default !important;
    background: #402 !important;
}

button {
    border: none;
    background: #402;
    border-radius: 1.5em;
    padding: .75em 1.5em;
    color: #fcf;
    text-transform: uppercase;
    opacity: .9;
    cursor: pointer;
    font-size: 1em;
    white-space: nowrap;
}

button:not(:disabled):hover {
    opacity: 1;
    color: white;
    outline: 2px solid #ff3399;
}

button:active {
    background: #504;
}

button:focus {
    outline: none;
}

input, textarea, select {
    border: 2px solid #603;
    outline: none;
    color: white;
    font-size: 1.1em;
    letter-spacing: unset;
    min-width: 0;
}

input, select {
    border-radius: 1000px;
    padding: 0 1em;
    background: #090009;
}

input:focus, select:focus {
    outline: 2px solid #a05;
}

input:not(:disabled):hover,
select:not(:disabled):hover {
    outline: 2px solid #f39;
}

textarea {
    background: #09000966;
    border-color: #423;
    font-family: custom;
    line-height: 1.75;
    padding: .75rem;
    border-radius: .5rem;
    width: 100%;
    display: block;
    height: 10.75em;
    resize: none;
}

html {
    height: 100dvh;
    max-height: 100dvh;
}

#main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2.5rem 0 6.5rem;
    position: relative;
    background: #190919;
}

#main, #bottombar, #menu-wrapper {
    width: 100%;
    max-width: 980px;
}

.page {
    padding: 0 .75rem;
    font-size: 1.1em;
    line-height: 1.5;
}

.page .section {
    padding: 3rem 0 10rem;
}

.page .section > .title {
    text-align: center;
    font-size: 2em;
    font-weight: normal;
}

#bottombar {
    background: linear-gradient(0deg, #190919ff 0% , #190919ff 70%, #19091900 100%) !important;
    padding: 4rem 1rem 1rem;
    display: flex;
    gap: .5rem;
    position: fixed;
    bottom: 0;
}

#bottombar > div {
    display: flex;
    gap: .5rem;
    width: 100%;
}

#chat__message-input {
    flex: 1;
}

.characters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem 2rem 2rem;
}

.characters .character {
    aspect-ratio: 1;
    padding: 2rem;
    cursor: pointer;
    transition: background-color 220ms;
}

.characters .character:hover {
    outline: 2px solid darkmagenta;
    background-color: #303;
}

.characters .character:active {
    outline: 2px solid #999;
}

.characters .character .thumbnail {
    width: 100%;
    aspect-ratio: 1;
    background-size: 100%;
    border-radius: 50%;
}

.characters .character .name {
    font-size: 1.5rem;
    margin: 1.5rem 0 .25rem;
    text-align: center;
}

.characters .character .description {
    text-align: center;
    height: 5.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.75;
}

.persona {
    padding: 1.75rem 1.25rem 1rem;
    border-radius: 0 0 0 .5rem;
}

.persona .image {
    width: calc(100% + 4rem);
    transform: translateX(-2rem);
    aspect-ratio: 3 / 1;
    background-size: cover;
    background-position: center 20%;
    -webkit-mask-image: -webkit-gradient(linear, left center, left bottom, from(#000f), to(#0000));
}

.persona .name {
    font-size: 2em;
    font-weight: bold;
    margin: 1.5rem 0 .5em;
}

.persona div + div {
    line-height: 1.75;
}

.messages {
    list-style: none;
    margin: 0 .5rem;
    padding: 1rem 0;
}

.loading .messages .message {
    cursor: default;
    outline: none !important;
}

.messages .message {
    padding: .9rem .6rem;
    margin: 1.3rem 0;
    cursor: pointer;
    user-select: none;
    border-radius: .5rem;
}

.messages .message:hover {
    outline: 2px solid darkmagenta;
}

.messages .message .avatar {
    width: 18%;
    max-width: 5rem;
    aspect-ratio: 1;
    background-size: contain;
    border-radius: 50%;
    float: left;
    margin: 0 .6rem 0 0;
}

.messages .message .original {
    font-size: .7em;
    margin-top: .25em;
    color: #f9f6;
}

.messages .message:hover .original {
    color: #f9fc;
}

.messages .message .name {
    font-weight: bold;
    font-size: .8em;
    margin: 0 0 .5rem;
}

.messages .message.bot {
    background: rgba(0, 0, 0, .3);
}

.messages .message.bot .name {
    color: #f9c;
}

.messages .message.you {
    color: #f9c;
    padding-left: 1rem;
}

.messages .message.you .name {
    color: #99c;
}

.messages .message .original::before {
    content: 'Original: ';
}

.messages .message .image {
    max-width: 260px;
    width: 40%;
    aspect-ratio: 1;
    float: right;
    border-radius: .5rem;
    background-size: 100%;
    margin: 0 0 0 1rem;
}

.messages .message::after {
    content: '';
    display: block;
    clear: both;
}

.messages .message .text {
    line-height: 1.75;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: all 120ms;
    background: rgba(0, 0, 0, .5);
}

.hidden {
    opacity: 0;
    pointer-events: none !important;
    scale: 1.05;
}

.display-none {
    display: none !important;
}

.overlay .dialog {
    width: calc(100% - 2rem);
    max-width: 660px;
    max-height: calc(100% - 2rem);
    
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 5px 40px -10px black;
    display: flex;
    flex-direction: column;
    
    background: #120910;
    outline: 2px solid #6249;
}

.overlay .dialog button {
    background: #412;
}

.overlay .dialog > .title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 1.25rem 1rem 0;
}

.overlay .dialog .content {
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden scroll;
}

.overlay .dialog .content .inner-content {
    padding: 0 0 1rem;
    line-height: 1.75;
    flex: 1;
}

#settings-dialog .inner-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem .5rem;
}

.overlay .dialog .content .buttons {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

#message-image {
    width: 100%;
    aspect-ratio: 1;
    background-size: 100%;
    border-radius: 0.5rem;
    margin: 0 0 1rem;
    outline: 2px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}

#message-image > div {
    display: flex;
    gap: .5rem;
    width: 100%;
    justify-content: center;
    opacity: .5;
    transition: all 250ms;
}

#message-image:hover > div {
    opacity: 1;
}

#message-image > div > input {
    padding-block: .5rem;
    width: 100%;
}

#image-generator-image {
    width: 100%;
    aspect-ratio: 1;
    background-size: 100%;
    border-radius: 0.5rem;
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#common-load-indicator {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#chat-load-indicator {
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.load-indicator {
    width: 125px;
    aspect-ratio: 1;
    background: url(../res/loading.svg) no-repeat;
    background-size: 100%;
}

#chat-load-indicator .load-indicator {
    width: 80px;
}

#characters__menu-button,
#chat__menu-button,
#image-generator__menu-button {
    width: 2.75rem;
    aspect-ratio: 1;
    padding: 0;
    border-radius: 50%;
}

#characters__menu-button::after,
#chat__menu-button::after,
#image-generator__menu-button::after {
    content: '⫶';
    font-size: 1.5em;
    position: absolute;
    transform: translate(-.2rem, -1rem);
}

#menu-wrapper {
    height: 5rem;
    bottom: 4.25rem;
    position: fixed;
    pointer-events: none;
    z-index: 1;
}

#menu-wrapper.hidden * {
    pointer-events: none;
}

.menu {
    pointer-events: all;
    background: #201;
    position: absolute;
    bottom: 0;
    right: .5rem;
    border-radius: .5rem;
    overflow: hidden;
}

.menu .item {
    padding: .75rem;
    cursor: pointer;
}

.menu .item:hover {
    background: #412;
}

.section {
    display: flex;
    flex-direction: column;
}

.section .title {
    font-size: 1.25em;
    font-weight: bold;
}

.field {
    height: 3rem;
    display: flex;
    align-items: center;
}

.field > label {
    display: block;
    width: 10rem;
}

.field > label + * {
    flex: 1;
}

.field > input,
.field > select {
    display: block;
    padding-block: .5rem;
}

input[type="checkbox"] {
    width: 1.25em;
    aspect-ratio: 1;
    margin: 0 .5rem 0 2rem;
    display: block; 
}

@media screen and (max-width: 700px) {
    #main {
        padding-top: 0;
    }
    #chat__send-message-button,
    #chat__receive-message-button,
    .field:has(.parse-tokens-from-clipboard) {
        display: none !important;
    }
    .characters {
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: 1fr;
    }
    .persona {
        padding-top: 0;
    }
    .persona .image {
        aspect-ratio: 2 / 1;
    }
    .messages {
        margin: 0;
    }
}

#image-generator-history-container {
    position: relative;
}

#image-generator-history {
    display: flex;
    width: 100%;
    overflow: scroll hidden;
    gap: .5rem;
    padding: .5rem 2px;
    margin-bottom: .5rem;
}

.image-generator-history-fade {
    height: 100%;
    width: 7rem;
    position: absolute;
    top: 0;
    pointer-events: none;
    background: linear-gradient(90deg, #120910, transparent);
    left: 0;
}

.image-generator-history-fade + .image-generator-history-fade {
    background: linear-gradient(-90deg, #120910, transparent);
    left: unset;
    right: 0;
}

.image-generator-history__item {
    height: 5rem;
    aspect-ratio: 1;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: .5rem;
    cursor: pointer;
}

.image-generator-history__item:hover {
    outline: 2px solid #ff3399;
}

.image-generator-history__item.active {
    outline: 2px solid #ff66cc;
}

#image-generator-prompt-input {
    height: 7.75rem;
}

.page__main {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}